 /*************  Footer *********/
 footer{
    background: $negroclaro;
    padding-top: 4rem;
    p {
      color: gainsboro;
    }
    .container {
      padding-bottom: 1.3rem;
    }
    h4{
      font-size: 1.4rem;
      padding-bottom: .7rem;
      color: #f7f7f7;
    }
}


 
.lista-footer {
  color: $celesteLogo;
  font-weight: 300;
  letter-spacing: .03rem;
}
p.pie{
  background: $grisOscuro;
  text-align: center;
  padding: .8em 0;
  color: $blanco;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .07em;
  margin-top: 1rem;
}