// Fuentes
$fuente_principal: 'Lato', sans-serif;


// colores
$primario: #007aba;
$secundario: #455a64;
$celesteLogo: #00d6f4;
$grisOscuro: #4a4a5d;
$negro: #000;
$negroclaro: #1d1d35;
$blanco: #fff;
$grisClaro: #eceeef;
$grisHeader: #efefef;

// Unidades
$separacion: 5rem;